@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600,700");
@import url("https://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.css");
*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  font: 14px/1 'Open Sans', sans-serif;
  color: #555;
  background: #eee;
}

h1 {
  padding: 50px 0;
  font-weight: 400;
  text-align: center;
}

h2 {
  padding: 10px 0;
  font-weight: 400;
}

h3 {
  padding: 10px 0;
  font-weight: 600;
}

h4 {
  padding: 10px 0;
  font-weight: 600;
}

p {
  margin: 0 0 10px;
  line-height: 1.5;
}

main {
  min-width: 320px;
  max-width: 1400px;
  padding: 50px;
  margin: 0 auto;
  background: #fff;
}

section {
  display: none;
  padding: 20px 0 0;
  border-top: 1px solid #ddd;
}

pre {
  margin: 0 0 10px;
}

input[name="tabs"] {
  display: none;
}

label {
  display: inline-block;
  margin: 0 0 -1px;
  padding: 5px 15px;
  text-align: center;
  border: 1px solid transparent;
}

label[name="tabs"] {
  display: inline-block;
  margin: 0 0 -1px;
  padding: 15px 25px;
  font-weight: 600;
  text-align: center;
  color: #bbb;
  border: 1px solid transparent;
}

label:before {
  font-family: fontawesome;
  font-weight: normal;
  margin-right: 10px;
}

label[for*='1']:before {
  content: '\f1de';
}

label[for*='2']:before {
  content: '\f05a';
}

label[for*='3']:before {
  content: '\f085';
}

label[for*='4']:before {
  content: '\f007';
}

label[for*='5']:before {
  content: '\f11c';
}

label:hover {
  color: #888;
  cursor: pointer;
}

input[name="tabs"]:checked + label {
  color: #555;
  border: 1px solid #ddd;
  border-top: 2px solid orange;
  border-bottom: 1px solid #fff;
}

#tab1:checked ~ #section-control,
#tab2:checked ~ #section-instructions,
#tab3:checked ~ #section-game-rules,
#tab4:checked ~ #section-player-strategy,
#tab5:checked ~ #section-debug {
  display: block;
}

@media screen and (max-width: 650px) {
  label {
    font-size: 0;
  }

  label:before {
    margin: 0;
    font-size: 18px;
  }
}
@media screen and (max-width: 400px) {
  label {
    padding: 15px;
  }
}

input[type="file"] {
  display: none;
}
.control-button {
  border: 1px solid #ccc;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
  background: #fff;
}
.control-button:disabled {
  border: 1px solid #ccc;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
  background: #eee;
  color: #aaa;
}

#clingo-output {
  margin: 10px auto;
  font: 12px/normal 'Monaco', 'Menlo', 'Ubuntu Mono', 'Consolas', 'source-code-pro', monospace;
  text-align:left;
}

#game-output {
  margin: 10px auto;
  font: 12px/normal 'Monaco', 'Menlo', 'Ubuntu Mono', 'Consolas', 'source-code-pro', monospace;
  text-align:left;
  max-height: 200px;
}

pre,
code {
  font-size: 15px;
  border: 1px solid #e8e8e8;
  border-radius: 3px;
  background-color: #eee; }

code {
  padding: 1px 5px; }

pre {
  padding: 8px 12px;
  overflow-x: auto; }
  pre > code {
    border: 0;
    padding-right: 0;
    padding-left: 0; }

.load-status {

}

.game-controls {
  display: flex;
  justify-content: center;
  padding-bottom: 2em;
}

.inline-controls {
  padding-bottom: 1em;
}

a.modal-link {
  font-family: fontawesome;
  font-size: 16px;
}
a.modal-link:visited,
a.modal-link:active,
a.modal-link:hover,
a.modal-link:link {
  color: #aaa;
  text-decoration-line: none;
}
.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px;
  background: rgba(0,0,0,0.25);
  opacity: 1;
  cursor: pointer;
  visibility: hidden;
  z-index: 1000;
}
.modal.is-visible {
  visibility: visible;
  opacity: 1;
}
.modal-dialog {
  position: relative;
  width: 100%;
  min-width: 320px;
  max-width: 1300px;
  max-height: 80vh;
  background: #fff;
  overflow: auto;
  cursor: default;
}
.modal-dialog > * {
  padding: 1rem;
}
.modal-content {
  background: #fff;
}
.modal-header {
  display: flex;
  float: right;
  justify-content: space-between;
}
.modal-header .modal-close {
  font-size: 1.5rem;
}
.close-modal {
  border: 1px solid #ccc;
  display: inline-block;
  padding: 3px 6px;
  cursor: pointer;
  background: #fff;
}
